[Unit]
Description=Serve for a web project
After=network.target

[Service]
WorkingDirectory=/var/www/melois.dev/react-demo
ExecStart=/usr/bin/yarn serve -l 5000 -s /var/www/melois.dev/react-demo/build
User=root
Group=root

[Install]
WantedBy=multi-user.target
